:root {
    --color-fondo: white;
    --color-primario: rgb(98, 30, 248)
}

*{
    padding: 0;
    margin: 0;
}

/*GENERAL*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

.pre-final{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


/*Celular*/
@media(max-width: 479px){
    .header-flex {
        flex-direction: column;  /* Apila logo, buscador y menú */
        gap: 15px;
    }

    .buscador-container {
        width: 100%;             /* En móvil ocupa todo el ancho */
        max-width: 100%;
    }

    .nav-flex {
        flex-wrap: wrap;         /* Permite que los botones bajen si no entran */
        justify-content: center;
    }
}
/*Tablet*/
@media(min-width: 480px) and (max-width: 1024px){
    .header-flex {
        flex-direction:row;  
        gap: 15px;
    }

    .buscador-container {
        width: 100%;             
        max-width: 100%;
    }

    .nav-flex {
        flex-wrap: wrap;         
        justify-content: center;
    }
}
/*Desktop*/
@media(min-width: 1025px){
    body{
        background-color: white;
    }
}